@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<div class="search-container">
		<input type="text" placeholder="Search.." name="search" class="search-bar"/>
		<button class="search" type="button"><i class="fa fa-search"></i></button>
		<button class="img-search" type="button"><i class="fa fa-search"></i></button>
		<br/>
		<label>Search Images</label>
		<input type="checkbox" class="checkbox-img-search"/>
	</div>
	<div class="search-result">
	</div>
</div>




